/*site-name字体*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin-ext');

@fontSerif: 'mixFont Serif';
@fontSansSerif: 'mixFont Sans-Serif';
/*serif字体*/
@font-face {
    font-family: @fontSerif;
    src: local('simsun'), local(simsun); /*宋体*/
    unicode-range: U+4E00-9FCB;/*汉字字符集*/
}
@font-face {
    font-family: @fontSerif;
    font-style: normal;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/s/ptserif/v8/5hX15RUpPERmeybVlLQEWBTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
}
@font-face {
    font-family: @fontSerif;
    font-style: normal;
    font-weight: 700;
    src: url(http://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpI4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
}
@font-face {
    font-family: @fontSerif;
    font-style: italic;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
}
@font-face {
    font-family: @fontSerif;
    font-style: italic;
    font-weight: 700;
    src: url(http://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9YWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
}

/* sans-serif字体 */
@font-face {
    font-family: @fontSansSerif;
    src: local('Microsoft Yahei'), local(Microsoft-Yahei); /*微软雅黑*/
    unicode-range: U+4E00-9FCB;/*汉字字符集*/
}
@font-face {
    font-family: @fontSansSerif;
    font-style: normal;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
}
@font-face {
    font-family: @fontSansSerif;
    font-style: normal;
    font-weight: 700;
    src: url(http://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
}