/**
 * @fileoverview 大雪子 - 首页样式表
 * @author WangWeiyi
 * @date 2016-03-17
 */
@media screen and (min-width: 1300px) {
  .content {
    width: 1170px;
  }
}
@media screen and (min-width: 1090px) and (max-width: 1300px) {
  .content {
    width: 970px;
  }
}
@media screen and (min-width: 770px) and (max-width: 1090px) {
  .content {
    width: 750px;
  }
}
@media screen and (max-width: 770px) {
  .content {
    width: 99%;
  }
  nav {
    width: 50% !important;
  }
}
/* common style*/
header,
footer,
p,
div,
h1,
h2,
h3,
ul,
li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0;
  text-align: center;
}
h2,
h3 {
  font: 22px/1.5 'Microsoft Yahei';
  color: #333;
}
h2 {
  font-weight: bold;
}
p {
  font: 12px/2 'Microsoft Yahei';
  color: #777;
}
nav {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 240px;
  height: 500px;
  background-color: #272727;
}
header {
  position: relative;
  text-align: center;
  background: #f3f3f3 url(//127.0.0.1/desktop/dxz/img/head.png) no-repeat top center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
header .nav-trigger {
  position: absolute;
  left: 60px;
  top: 60px;
  width: 20px;
  height: 3px;
  background: #ff9947;
  -webkit-box-shadow: 0 8px #ff9947;
          box-shadow: 0 8px #ff9947;
  cursor: pointer;
}
header .nav-trigger:after {
  position: absolute;
  left: 0;
  top: 16px;
  content: '';
  width: 75%;
  height: 100%;
  background: #ff9947;
}
header .brand {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #ff9947;
}
header h1 {
  margin-top: -0.5em;
  margin-bottom: 22px;
  font: bold 120px/1 'Arial';
}
header .about-trigger {
  display: inline-block;
  padding: 0 24px;
  font: 14px/32px 'Microsoft Yahei';
  color: #ff9947;
  border: 1px solid #ff9947;
  text-decoration: none;
}
header .about-trigger:link,
header .about-trigger:visited,
header .about-trigger:hover,
header .about-trigger:active {
  text-decoration: none;
}
header .about-trigger:hover {
  color: #fff;
  background: #ff9947;
}
.icon-work {
  display: inline-block;
  width: 112px;
  height: 109px;
  margin-top: 32px;
  margin-bottom: 10px;
}
.work-list {
  margin-top: 47px;
}
.work-list:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.work-list li {
  float: left;
  width: 25%;
}
.work-list .icon-work-item {
  margin-bottom: 15px;
}
.responsive-design {
  background: #f3f3f3;
}
.responsive-design img {
  display: inline-block;
  width: 760px;
  height: 426px;
  margin-top: 34px;
}
.update-list {
  margin-top: 66px;
}
.update-list:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.update-list .update-item {
  float: left;
  width: 279px;
  height: 279px;
  margin-top: 18px;
  margin-right: 18px;
  background: #f3f3f3;
}
.update-list .update-item.last {
  margin-right: 0;
}
.contact {
  background: #232323;
}
.contact h2,
.contact h3,
.contact p {
  color: #fff;
}
.contact h3 {
  margin-top: 50px;
  font-family: 'Arial';
}
footer {
  padding-top: 20px;
  height: 120px;
  text-align: center;
}
