body {
	font-family: 'Microsoft Yahei';
	font-size: 12px;
	text-align: center;
	background: #fff;
}

.container {
	position: relative;
	left: 240px;
}

nav {
	position: absolute;
	left: -240px;
	top: 0;
	padding-top: 200px;
	padding-left: 60px;
	width: 240px;
	height: 100%;
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
	background: #232323;
	box-sizing: border-box;
}
nav:before {
	content: '+';
	position: absolute;
	top: 60px;
	left: 60px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
	transform: rotate(45deg);
}
nav li {
	margin-bottom: 50px;
}
nav [lang=en] {
	font-size: 8px;
	font-family: Arial;
}
nav li a {
	color: #777;
	text-decoration: none;
}
nav li a:hover {
	color: #fff;
}

header {
	position: relative;
	height: 580px;
	background: #2e2e2e url(../img/head.png) no-repeat center bottom;
	background-size: auto 90%;
}
.nav-btn {
	position: absolute;
	z-index: 2;
	left: 60px;
	top: 60px;
	width: 20px;
	height: 20px;
	background: url(../img/icon_nav.png) no-repeat;
	cursor: pointer;
}
.header-content {
	display: none;
	position: relative;
	top: 45%;
	margin-top: -45px;
}
.header-content h1 {
	height: 90px;
	text-indent: -9999em;
	background: url(../img/daxuezi.png) no-repeat center;
}
.about-btn, .back-btn {
	display: inline-block;
	margin-top: 40px;
	width: 118px;
	line-height: 30px;
	font-size: 14px;
	border: 1px solid #777;
	cursor: pointer;
}
.about-btn:hover, .back-btn:hover {
	color: #333;
	background: #fff;
}
.about {
	display: none; //display: table;
	width: 100%;
	height: 100%;
	color: #fff;
	background: #232323;
}
.about-content {
	display: table-cell;
	vertical-align: middle;
}
.avator {
	width: 100px;
	height: 100px;
}
.name {
	margin: 16px 0 20px;
	font-size: 22px;
	font-weight: bold;
}
.self-intro {
	font-size: 12px;
	line-height: 1.5;
}

section {
	padding: 100px 0;
}
section .content {
	width: 1170px;
	margin: 0 auto;
}
section h1, section .title {
	font-size: 22px;
	line-height: 1.8;
	color: #333;
}
section h2, section p {
	font-size: 12px;
	line-height: 1.5;
	color: #777;
}
section ul:after {
	display: block;
	clear: both;
	content: '';
}
section li {
	float: left;
	width: 25%;
}
section ul.work-list {
	margin-top: 50px;
}
section ul.update-list {
	margin-top: 90px;
}
section li.update-item {
	width: 279px;
	height: 279px;
	margin-left: 18px;
	background: #f5f6f7;
}
section li.update-item.first {
	margin-left: 0;
}
section.responsive-layout {
	background: #f5f6f7;
}
section.responsive-layout img {
	margin-top: 40px;
}

section.contact {
	background: #2e2e2e;
}
section.contact h1, section.contact h2, section.contact p {
	color: #fff;
}
section.contact .email {
	margin-top: 60px;
	font: 22px/1.5 Arial;
}

footer {
	padding-top: 20px;
	height: 100px;
	color: #777;
}
