@import "./units/mixin.less";
@import "./units/variable.less";
@import "./units/base.less";

//页面主体
.container {

	//页面主体头部
	.site-header {
		.pr;
		height: 500px;
		color: @colorWhite;
		background: @bgBlack url(../img/head.png) no-repeat center bottom;
		background-size: auto 90%;
		overflow: hidden;

		//关于我按钮 和 返回按钮
		.btn {
			.di;
			margin-top: 40px;
			width: 120px;
			.lh(30px);
			font-size: @fzTextBig;
			color: @colorWhite;
			border: 1px solid; //use foreground color by default

			&:hover {
				color: @colorBlack;
				background: @colorWhite;
				.hand();
			}
		}
		//DAXUEZI
		.slogon {
			.absolute-full;
			.anim;
		}
		.slogon-content {
			.pr;
			top: 42%;

			h1 {
				height: 90px;
				.hide-seo-text;
				background: url(../img/daxuezi.png) no-repeat center top;

				@media screen and (max-width: 600px) {
					background-size: 80% auto;
				}	
			}
		}
		//关于我
		.about {
			.dt;
			.absolute-full;
			background: @bgBlack;
			transform: translateY(100%);
			.anim;
		}
		.about-content {
			.dtc;
			vertical-align: middle;
		}
		//关于我 之 自我介绍
		.self-intro {
			.hc(30em);
			.my-name {
				margin: 8px 0;
				font-size: @fzTitleSm;
			}
			//平板及手机上, 内容宽度为屏幕宽度的80%, 居中
			@media screen and (max-width: @screenPadMax) {
				.hc(80%);
			}
		}

		//查看关于我
		&.view-about {
			.slogon {
				transform: translateY(-100%);
			}
			.about {
				transform: translateY(0);
			}
		}
	}
	
	//区块
	section {
		//模块: 我在做什么
		&.work {
			hgroup {
				margin-bottom: 50px;
			}
			.title {
				margin-top: .7em;
				font-size: @fzTitle;
			}

			ul {
				margin-bottom: -50px;
				li {
					margin-bottom: 50px;
				}
				//手机上单列显示
				@media screen and (max-width: @screenPhoneMax) {
					li {
						width: 100%;
					}
				}
				//平板上两列显示
				@media screen and (min-width: @screenPadMin) {
					li {
						width: 50%;
					}
				}
				//电脑上四列显示
				@media screen and (min-width: @screenPcSmMin) {
					li {
						width: 25%;
					}
				}
			}
		}
		
		//模块: 响应式布局
		&.responsive {
			background: @bgLightGray;
			
			hgroup {
				margin-bottom: 40px;
			}
			
			//手机上图片宽度为父容器的百分百
			@media screen and (max-width: @screenPhoneMax){
				img {
					.db;
					width: 100%;
				}
			}
			//平板上为父容器的80%
			@media screen and (min-width: @screenPadMin) and (max-width: @screenPadMax) {
				img {
					width: 80%;
				}
			}
			//电脑上为自身原始大小,此为默认值,不用设.
		}

		//模块: 最近更新
		&.list-update {
			hgroup {
				margin-bottom: 90px;
			}
		}
		
		//模块: 联系我
		&.contact {
			font-size: @fzTitle;
			background: @bgBlack;

			hgroup {
				margin-bottom: 60px;
			}
			&, h2 {
				color: @colorWhite;
			}
		}
	}
}